@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');


* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Purple: hsl(259, 100%, 65%);
    --Light__red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off__white: hsl(0, 0%, 94%);
    --Light__grey: hsl(0, 0%, 86%);
    --Smokey__grey: hsl(0, 1%, 44%);
    --Off__black: hsl(0, 0%, 8%);
    --font__Poppins: 'Poppins', sans-serif;
    --font__Size: 2rem;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-size: var(--font__Size);
    background-color: var(--Off__white);
    font-family: var(--font__Poppins);
    margin: 0em 1rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.calculator {
    background-color: var(--White);
    width: 100%;
    max-width: 841px;
    padding: 1.8125em 3.814rem;
    border-radius: 1.5rem 1.5rem 12rem 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.115) 0px 8px 24px;
}

.calculator__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 545px;
    gap: 1rem;
}

.input__div {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.4rem;
    position: relative;
}

.label {
    font-size: 0.8rem;
    text-transform:uppercase;
    letter-spacing: 0.15rem;
    color: var(--Smokey__grey);
}

.input {
    width: 100%;
    max-width: 162px;
    height: 73px;
    border: 1px solid var(--Light__grey);
    border-radius: 0.3rem;
    padding-left: 0.7rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.input::placeholder {
    font-weight: 800;
    font-size: 2rem;
}

.input-day, .input-month {
    margin-right: 1.3rem;
}


.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input:focus {
    border-color: var(--Purple);
    outline: var(--Purple)
}

.calculator__line {
    display: flex;
    align-items: center;
    width: 100%;
}

.cl__line {
    width: calc(100% - 96px);
    height: 1px;
    background: var(--Light__grey);
}

#cl__arrow--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Purple);
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 100%;
    width: 96px;
    height: 96px;
}

.cl__arrow__btn__img {
    width: 46px;
    height: 46px;
}

#cl__arrow--btn:active {
    transform: scale(0.92);
}

#cl__arrow--btn:hover{
    background-color: var(--Off__black);
}

.calculator__result {
    font-style: italic;
    font-weight: 800;
    line-height: 6.993rem;
}

.cr__result__value {
    color: var(--Purple);
    font-size: 6.5rem;
}

.cr__time {
    font-size: 6.5rem;
    color: var(--Off__black);
}

/* ERROR */
.error {
    position: absolute;
    font-size: .8rem;
    color: var(--Light__red);
    font-style: italic;
    bottom: -1.5rem;
    line-height: .85rem;
}
/* ERROR */

.attribution {
    position: absolute;
    text-align: center;
    font-size: 13px;
    margin-top: 70em;
    padding: 0.5rem;
    color: var(--Off__black);
}

.attribution a {
    color: var(--Purple);
}